.actor{
  &--content {
    &__list {
      @include flex(row, space-between, center, wrap);
      padding: 25px 0;
      @media (max-width: 767px) {
        padding: 12.5px 0;
        @include flex(column, center, center, nowrap);
      }
    }
    &__list__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-bottom: 50px;
      width: 50%;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 25px;
      }

      &__name{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
      &__films{
        font-size: 1.2rem;
        font-weight: 400;
        li{
          margin-bottom: 10px;
        }
      }
    }
    &__left{
      img{
        width: auto;
        max-width: 200px;
        min-height: 250px;
        object-fit: cover;
        @media (max-width: 767px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &--viewmore{
    text-align: center;
    margin-top: 30px;
    a{
      @media screen and (max-width: 767px) {
        display: block;
        padding: 10px 0;
        font-size: 1.4rem;
      }
    }
  }
}
