.galery {

  &--content {
    padding: 25px 0;
    @media (max-width: 767px) {
      padding: 12.5px 0;
    }
  }

  .subtitle {
    text-align: center;
  }

  &--list {
    @include flex(row, center, stretch, wrap);
    gap: 20px;
    margin-top: 20px;
  }

  &--item {
    max-width: 400px;
    object-fit: cover;
    @media (max-width: 991px) {
      width: clamp(200px, 50%, 300px);
    }
    @media (max-width: 600px) {
      width: 100%;
    }

    img{
      height: 80%;
      width: 100%;
    }
  }

  &#galleryAdmin {
    button {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 0px 0px 5px 5px;
      padding: 10px 40px;
      font-size: 1.6rem;
      cursor: pointer;
      &:hover {
        background-color: $gray;
        color: $white;
      }
    }
  }
}
