* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

#content{
  padding-top: 55px;
}

a {
  text-decoration: none;
  color: $white ;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
#content-bo {
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 55px 30px 30px;
    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
    }
}

.generic-cta {
  font-family: 'Star Jedi Hollow', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $black;
  background: $white;
  border: 1px solid $black;
  padding: 10px 40px;
  cursor: pointer;
  &:hover {
    background: $black;
    color: $white;
    font-family: 'Star Jedi', sans-serif;
  }
}

.title:not(.backoffice){
  color: $white;
  font-family: "Star Jedi", serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 991px) {
      font-size: calc(7rem * 0.7);
  }
  @media (max-width: 767px) {
    font-size: 2.8rem;
  }
}
.subtitle{
  font-family: 'Star Jedi Hollow';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  color: $black;

  @media (max-width: 991px) {
    font-size: calc(5rem * 0.7);
  }
  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
  &--variant{
    font-family: 'Star Jedi', sans-serif;
    font-size: 3.2rem;
    @media (max-width: 991px) {
      font-size: calc(5rem * 0.7);
    }
    @media (max-width: 767px) {
      font-size: 2.4rem;
    }
  }
}

//genere code pour import les fonts dossier public/fonts

@font-face {
  font-family: 'Star Jedi';
  src: url('../../public/fonts/Starjedi.ttf') format('truetype');
}
 @font-face {
   font-family: 'Star Jedi Hollow';
    src: url('../../public/fonts/Starjhol.ttf') format('truetype');
 }


